* {
	font-family: Arial;
	background-color: yellow;
}

#title {
	font-size: 50px;
	font-family: Impact;
	color: blue;
	text-align: center;
}

#gameBoard {
	font-size: 24px;
	border: 5px solid;
	margin-left: auto;
    margin-right: auto;
}

#winMessage {
	font-size: 100px;
	font-family: Impact;
	color: blue;
}

#illegalMove {
	font-size: 100px;
	font-family: Impact;
	color: red;
}

.game_block {
	background-image: url("http://www.redwoodhikes.com/BigBasin/BigBasin4.jpg");
	border: 1px solid;
}


#imageToCrop {
	width: 500px;
	height: 500px;
	margin-left: auto;
    margin-right: auto;
    position: static;
}

.cropedImage {
	position: static;
}