* {
	font-family: Arial;
	background-color: yellow;
}

#title {
	font-size: 50px;
	font-family: Impact;
	color: blue;
	text-align: center;
}

#gameBoard {
	font-size: 24px;
	border: 5px solid;
	margin-left: auto;
    margin-right: auto;
}

#winMessage {
	font-size: 100px;
	font-family: Impact;
	color: blue;
}

#illegalMove {
	font-size: 100px;
	font-family: Impact;
	color: red;
}

.game_block {
	background-image: url("http://www.redwoodhikes.com/BigBasin/BigBasin4.jpg");
	transition: all .1s linear;
	border: 1px solid;
	-webkit-animation: mymove 1s; /* Chrome, Safari, Opera */
    animation: mymove 1s;
}


#imageToCrop {
	width: 500px;
	height: 500px;
	margin-left: auto;
    margin-right: auto;
    position: static;
}

.cropedImage {
	position: static;
}


}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}